{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="h-75 d-flex justify-content-center align-items-center">
		<div class="col-lg-6 col-12 shadow py-5 px-md-5 px-5 px-md-0">
			<h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

			<div class="alert alert-info">
				<ul>
					<li>admin@admin.fr / 12341234</li>
					<li>user@user.fr / 1234</li>
				</ul>
			</div>

			<form method="post">

				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous êtes loggés en tant que
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}" class="btn btn-danger ms-lg-2 mt-md-2 mt-lg-0">Déconnexion</a>
					</div>
				{% endif %}

				<div class="form-outline mb-4">
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				</div>

				<div class="form-outline mb-4">
					<label for="inputPassword">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button type="submit" class="btn btn-primary">Se connecter</button>
				<a href="{{ path('app_register') }}" class="ms-2">S'inscrire</a>
			</form>
		</div>
	</div>
</div>{% endblock %}
