{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<div class="container-xxl p-3">
    <h1 class="py-4">Catégorie "{{ category.name }}"</h1>

    <ul>
        {% for quote in category.quotes %}
            <li class="list-unstyled mb-5">
                <figure class="m-0">
                    <blockquote class="fs-5 m-0">{{ quote.content }}</blockquote>
                    <figcaption class="text-secondary fst-italic">{{ quote.meta }}</figcaption>
                </figure>
            </li>
       {% else %}
            <li class="list-unstyled py-2 text-center fs-4 text-danger">Aucune citation trouvée pour cette c</li>
       {% endfor %}
    </ul>

    <div class="mt-0 mb-2">
        <button type="button" class="btn btn-primary">
            <a class="text-white" href="{{ path('app_category_edit', {id: category.id}) }}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
        </button>
        <button type="button" class="btn btn-danger">
            <a class="text-white" href="{{ path('app_category_delete', {'id': category.id}) }}">
                <i class="fa-solid fa-trash"></i></a>
        </button>
    </div>

    <a href="{{ path('app_category_index') }}"
       class="mt-5 btn btn-secondary">Retour</a>
</div>

{% endblock %}