{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<div class="container-xxl p-3">
    <h1 class="py-4">Catégorie "{{ category.name }}"</h1>

    <ul>
        {% for quote in category.quotes %}
            <li class="list-unstyled mb-5">
                <figure class="m-0">
                    <blockquote class="fs-5 m-0">{{ quote.content }}</blockquote>
                    <figcaption class="text-secondary fst-italic">{{ quote.meta }}</figcaption>
                </figure>
            </li>
       {% else %}
            <li class="list-unstyled py-2 text-center fs-4 text-danger">Aucune citation trouvée pour cette c</li>
       {% endfor %}
    </ul>

    <a class="btn btn-light" href="{{ path('app_category_edit', {id: category.id}) }}">Modifier</a>
    <a class="btn btn-light" href="{{ path('app_category_delete', {'id': category.id}) }}">Supprimer</a>
</div>

{% endblock %}