{% extends 'base.html.twig' %}

{% block title %}Liste des citations{% endblock %}

{% block body %}

<div class="container-xxl p-3 position-relative h-100">
    <h1 class="pt-4 pb-5">Liste des citations</h1>
    <ul class="overflow-auto h-75">
       {% for quote in quotes %}
            <li class="list-unstyled mb-5">
               <figure class="m-0 mb-3">
                    <blockquote class="fs-5 m-0">{{ quote.content }}</blockquote>
                    <figcaption class="text-secondary fst-italic">
                        <cite>{{ quote.meta }}</cite> 
                        <a class="ms-1" href="{{ path('app_category_show', {id: quote.category.id}) }}">
                            <span class="badge bg-dark">{{ quote.category.name }}</span>
                        </a>
                    </figcaption>
                </figure>

                <a class="btn btn-light" href="{{ path('quote_edit', {id: quote.id}) }}">Modifier</a>
                <a class="btn btn-light" href="{{ path('quote_delete', {id: quote.id}) }}">Supprimer</a>
            </li>
       {% else %}
            <li class="list-unstyled py-2 text-center fs-4 text-danger">Aucune citation trouvée</li>
       {% endfor %}
    </ul>
    <div class="position-absolute bottom-0 end-0">
        {{ knp_pagination_render(quotes) }}
    </div>
</div>

{% endblock %}
